# https://github.com/unifreq/openwrt_packit
# https://github.com/breakings/OpenWrt/blob/main/ARMv8/official-lite.config
# Target Config
# Build Firmware:
CONFIG_TARGET_amlogic=y
CONFIG_TARGET_amlogic_mesongx=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_TARGET_BOARD="amlogic"
CONFIG_TARGET_SUBTARGET="mesongx"
CONFIG_TARGET_PROFILE="Default"
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-O3 -pipe -mcpu=cortex-a53"
CONFIG_CPU_TYPE="cortex-a53"

CONFIG_BPFILTER=n

# Firmware Type:
CONFIG_USES_DEVICETREE=y
CONFIG_USES_INITRAMFS=y
CONFIG_USES_SQUASHFS=y
CONFIG_USES_EXT4=y
CONFIG_USES_TARGZ=y
CONFIG_USES_CPIOGZ=y
CONFIG_ARCH_64BIT=y
CONFIG_VIRTIO_SUPPORT=y
CONFIG_USES_ROOTFS_PART=y
CONFIG_USES_BOOT_PART=y
CONFIG_aarch64=y
CONFIG_ARCH="aarch64"

# Target and Root filesystem Images:
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=768
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
# CONFIG_TARGET_ROOTFS_CPIOGZ is not set
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_TARGET_UBIFS_JOURNAL_SIZE=""
# CONFIG_TARGET_IMAGES_GZIP is not set

CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-ifb=y

# Languages -> Perl 
CONFIG_PACKAGE_perl=y
CONFIG_PACKAGE_perl-http-date=y
CONFIG_PACKAGE_perlbase-getopt=y
CONFIG_PACKAGE_perlbase-i18n=y
CONFIG_PACKAGE_perlbase-time=y
CONFIG_PACKAGE_perlbase-unicode=y
CONFIG_PACKAGE_perlbase-utf8=y

# Utilities -> Disc ->
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_parted=y

# Utilities -> -> Filesystem -> 
CONFIG_PACKAGE_attr=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_chattr=y
CONFIG_PACKAGE_dosfstools=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_f2fs-tools=y
CONFIG_PACKAGE_f2fsck=y
CONFIG_PACKAGE_lsattr=y
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_xfs-fsck=y
CONFIG_PACKAGE_xfs-mkfs=y
CONFIG_PACKAGE_squashfs-tools-mksquashfs=y
CONFIG_PACKAGE_squashfs-tools-unsquashfs=y
CONFIG_PACKAGE_swap-utils=y
CONFIG_PACKAGE_sysfsutils=y
CONFIG_PACKAGE_unrar=y
CONFIG_SQUASHFS_TOOLS_LZ4_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_LZO_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_XZ_SUPPORT=y

# Utilities -> -> Compression ->
CONFIG_PACKAGE_bsdtar=y
CONFIG_PACKAGE_pigz=y

# Utilities -> 
CONFIG_PACKAGE_gawk=y
CONFIG_PACKAGE_getopt=y
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_uuidgen=y

# openwrt 无线太烂， 不值得开启
# Wireless Drivers
CONFIG_BRCMFMAC_SDIO=n
CONFIG_PACKAGE_kmod-brcmfmac=n
CONFIG_PACKAGE_kmod-brcmutil=n
CONFIG_PACKAGE_kmod-cfg80211=n
CONFIG_PACKAGE_kmod-mac80211=n

# WirelessAPD
CONFIG_PACKAGE_hostapd=n
CONFIG_PACKAGE_hostapd-common=n
CONFIG_PACKAGE_hostapd-openssl=n
CONFIG_PACKAGE_hostapd-utils=n
CONFIG_PACKAGE_wpa-cli=n
CONFIG_PACKAGE_wpa-supplicant=n
CONFIG_WPA_MSG_MIN_PRIORITY=3
CONFIG_DRIVER_WEXT_SUPPORT=n
CONFIG_DRIVER_11N_SUPPORT=n
CONFIG_DRIVER_11AC_SUPPORT=n
CONFIG_PACKAGE_iw=n
CONFIG_PACKAGE_iwinfo=n


# app
# for TV box only
CONFIG_PACKAGE_luci-lib-fs=n
CONFIG_PACKAGE_luci-app-amlogic=n

CONFIG_PACKAGE_luci-app-cpufreq=y


# CONFIG_PACKAGE_apk is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-app-wireguard=y
